h1{
    color: red;
}
#home-intro{
    text-align: center;
    border: 3px;
    border-color: green;
    border-style: solid;
}
#home-intro:hover{
    background-color:cadetblue;
}

#p2{
    color:brown;
}
#nav{
    text-align: center;
    background-color:darkolivegreen;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#nav a{
    margin: 0px 5px;
    text-decoration:none;
    color:white
}
#card {
  align-items: center;
  margin-top: 5px;
  border: 3px solid green;
  width: 300px;
  height: 580px;
  margin: 3px auto;
}

#card-img {
  width: 300px;
  height: 300px;
  border-radius:80px;
}

#img {
  width: 300px;
  height: 300px;
}

#action {
  text-align: center;
}

/* John Doe Card */

#card2 {
  align-items: center;
  margin-top: 20px;
}

#card-img2 {
  width: 300px;
  height: 300px;
  margin: 0px auto;
}

#img2 {
  width: 300px;
  height: 300px;
}

#action2 {
  text-align: center;
}

button{
width: 100%;
}
