h1{
    color: red;
}
#home-intro{
    text-align: center;
    border: 3px;
    border-color: green;
    border-style: solid;
}
#home-intro:hover{
    background-color:cadetblue;
}

#p2{
    color:brown;
}
#nav{
    text-align: center;
    background-color:darkolivegreen;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}
#nav a{
    margin: 0px 5px;
    text-decoration:none;
    color:white
}